* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/img/learning.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(30%);
    box-shadow: inset 0px 0px 200px rgba(0, 0, 0, 0.974);
    z-index: -1;
}

/* Navbar */
nav {
    display: none;
    position: absolute;
    width: 100%;
}

.navigation {
    background-color: #2a2a2a65;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-section .logo {
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding: 0.25em;
    border: 1px solid #fff;
    border-radius: 50%;
}

.logo-section .learn-tree {
    color: #fff;
    font-size: 1.5rem;
    padding: 1em 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul a {
    text-decoration: none;
    padding: 1em;
    color: aliceblue;
    font-size: 1.25rem;
}

nav ul a:hover {
    color: #d62801;
}

a.login-btn {
    background-color: #d62801;
}

a.login-btn:hover {
    color: aliceblue;
    animation: change-color 1s forwards;
}

@keyframes change-color {
    0% {background-color: #d62801;}
    100% {background-color: #f4e0db; color: #d62801;}
}

/* Home content */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: #fff;
    text-align: center;
}

.content-wrapper {
    width: 100%;
}

.content-wrpper .tagline {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

.content-wrapper .heading {
    font-size: 4rem;
    margin: 2rem 0;
}

.content-wrapper .our-courses-btn {
    text-decoration: none;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #db2d1d;
    font-weight: 600;
}

/* Services */

.services-container {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.services-container .heading-section {
    text-align: center;
}

.services-container .heading-section h2 {
    font-size: 2rem;
    text-decoration: #db2d1d underline;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.services div i {
    font-size: 4rem;
    color: #db2d1d;
}

.services div h6 {
    font-size: 1.5rem;
}

/* Courses */

.courses-container {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 5rem 0;
}

.courses-container .heading-section {
    text-align: center;
}

.heading-section p {
    color: #d62801;
}

.heading-section h2 {   
    font-size: 2rem;
    text-decoration: #d62801 underline;
}

.courses {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
    padding: 0 5rem;
}

[class*="course-"] {
    background-color: #fff;
    cursor: pointer;
    width: 300px;
    padding: 1rem;
}

[class*="course-"] img {
    width: 100%;
    height: 200px;
}

[class*="course-"] .course-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 1rem;
    width: 100%;
}

.price-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.price-date .date {
    color: #555555;
}

.price-date .fee {
    background-color: #d62801;
    color: #f4e0db;
    padding: 0.5rem 1rem;
}

footer {
    color: aliceblue;
    background-color: #2a2a2a65;
    width: 100%;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    margin-top: 2rem;
}